<div class ="container">
	<div class="jumbotron">
	<h1>Internet Programming Demo</h1>

	<h2>This website is on Sails.js.To create an account please Sign in!</h2>
	<div>
	<a href="/">
          <img  src="/images/sails.png" alt="Sails logo" height="200" width="200"/>
        
      </a>
      </div>
	<a href="/user/new" class="btn btn-lg btn-success"> Sign up now! </a>
	</div>
</div>
